---
---
@import "{{ site.theme }}";

body { font: 18px/22px 'Quattrocento Sans', "Helvetica Neue", Helvetica, Arial, sans-serif; color: #2b2b2b; font-weight: 300; margin: 0px; padding: 0px 0 20px 0px; background: url(../images/body-background.png) #eae6d1; }
